<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Contacts</title>
  </head>

  <body>

    <% @contacts.each_with_index do |contact, i| %>
        <h3><a href="/contacts/<%= i %>"><%= contact[:name] %></a></h3>
    <% end %>

  </body>

</html>
