<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>search</title>
  </head>

  <body>

    <h2>search for</h2>

    <form action="/contacts" method="POST">
    <p>Name: <input type="text" name="name"></p>
    <input type="submit" value="Search">
    <button><a href="/contacts">Cancel</a></button>
</form>




  </body>
</html>
