<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>show</title>
  </head>

  <body>
    <h1><%= @contact[:name] %></h1>
    <p><%= @contact[:phone] %></p>
    <p><%= @contact[:email] %></p>

    <br>
    <a href="/contacts/<%= @i %>/edit">[Edit]</a>
    <a href="/contacts">[Index]</a>

  </body>

</html>
